{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}
{% block monTitre %}Accueil{% endblock %}


{% block body %}

<a href="{{ path('personnages')}}">lien vers les personnages</a>

{% endblock %}
